<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GData.Spreadsheets.Helpers" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.AccessControl" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Documents" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Spreadsheets" version="2.2.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.0.5" targetFramework="net45" />
  <package id="NLog" version="4.3.5" targetFramework="net45" />
  <package id="NLog.Config" version="4.3.5" targetFramework="net45" />
  <package id="NLog.Schema" version="4.3.4" targetFramework="net45" />
</packages>